.grid_col1 {
  display: grid;
  gap: 10px;
  margin: 100px 10px 30px 10px;
}

.grid_col_1 {
  padding: 20px;
}

.contact p {
  line-height: 1.5rem;
}

@media (min-width: 800px) {
  .grid_col1,
  .grid_col2 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
    margin-right: 50px;
  }

  .grid_col_1 {
    align-self: center;
    justify-self: center;
  }

  .order {
    order: 1;
  }

  .contact {
    max-width: 600px;
  }
}
