/*FORSIDE KNAP*/
.forsideknap {
  background-color: #5e503f;
  border: none;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  justify-self: center;
  width: fit-content;
  color: white;
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
}

.kategori {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Source Sans 3", sans-serif;
  justify-content: center;
}

.kategori:hover {
  color: #696868;
}

/*FORSIDE TEKST*/
.hero {
  display: grid;
}

.forsidetekst {
  justify-self: center;
  max-width: 600px;
}

.forsidetekst p {
  text-align: left;
}

.btn {
  margin-top: 50px;
  justify-self: center;
  margin-bottom: 20px;
}

.kategori-h2 {
  text-align: center;
  margin-top: 20px;
}

/*BILLEDER*/
.forside_billeder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
  margin-top: 80px;
}

p {
  text-align: left;
  padding-top: 20px;
}

.forside_hylde {
  padding-right: 10px;
  padding-bottom: 70px;
}

.forside_skabe {
  padding-right: 10px;
  padding-bottom: 70px;
}

.forside_toiletmoebel {
  padding-right: 10px;
  padding-bottom: 70px;
}

.forside_reoler {
  padding-right: 10px;
  padding-bottom: 70px;
}

.forside_baenke {
  padding-right: 10px;
  padding-bottom: 70px;
}

.forside_interior {
  padding-right: 10px;
  padding-bottom: 70px;
}

/*DESKTOP*/
@media (min-width: 768px) {
  /*FORSIDE TEKST*/
  .forsidetekst h3 {
    margin-top: 100px;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 30px;
  }

  /*BILLEDER*/
  .forside_billeder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    margin-top: 80px;
  }

  p {
    text-align: center;
    padding-top: 20px;
  }

  .forside_hylde {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  .forside_skabe {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  .forside_toiletmoebel {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  .forside_reoler {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  .forside_baenke {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  .forside_interior {
    padding-right: 10px;
    padding-bottom: 70px;
  }

  main {
    margin-right: 10%;
    margin-left: 10%;
  }
}
