.grid_col1,
.grid_col2 {
  display: grid;
  gap: 10px;
  margin: 10px 10px 0px 10px;
}

.grid_col_1 {
  padding: 20px;
}

section {
  display: grid;
  align-items: start;
}

form {
  padding: 2rem;
  margin-top: 1rem;
  background: #5e503f;
  display: grid;
}

form p {
  color: white;
  max-width: 600px;
  justify-self: center;
}

form h3 {
  color: white;
  justify-self: center;
  margin-bottom: 20px;
}

label {
  color: white;
}

label,
textarea,
input,
select,
button {
  display: block;
  font-family: "Source Sans 3", sans-serif;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

.form-felt {
  display: grid;
  margin-top: 10px;
  justify-self: center;
}

.send_btn {
  background-color: #8b7356;
  border: none;
  padding: 8px 23px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  justify-self: center;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.send_btn a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}

.send_btn a:hover {
  color: #554838;
}

.send_btn:hover {
  background-color: #f6f5f3;
  transition: 0.4s;
}

textarea {
  width: 400px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

@media (min-width: 800px) {
  .grid_col1,
  .grid_col2 {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0px 100px 0px;
  }

  .grid_col_1 {
    align-self: center;
    justify-self: center;
  }

  input {
    width: 600px;
    height: 40px;
    font-size: 1rem;
  }

  textarea {
    width: 600px;
    height: 100px;
    font-size: 1rem;
  }

  .order {
    order: 1;
  }

  .contact {
    max-width: 400px;
  }

  .contact p {
    line-height: 1.5rem;
  }
}
