.grid_col {
  display: grid;
  gap: 10px;
  margin: 100px 10px 0px 10px;
}

.grid_col_1 {
  background-color: #eee8de;
  padding: 20px;
}

.kontakt_img {
  justify-self: center;
}

section {
  display: grid;
  align-items: start;
}

form {
  padding: 2rem;
  margin-top: 1rem;
  background: #6e6f51;
  display: grid;
}

form p {
  justify-self: center;
  color: white;
}

label {
  color: white;
}

label,
textarea,
input,
select,
button {
  display: block;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

.form-felt {
  display: grid;
  margin-top: 10px;
  justify-self: center;
}

.send_btn {
  background-color: #979871;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  justify-self: center;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

textarea {
  width: 400px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

@media (min-width: 800px) {
  .grid_col {
    grid-template-columns: repeat(3, 1fr);
  }

  input {
    width: 600px;
    height: 40px;
    font-size: 1rem;
  }

  textarea {
    width: 600px;
    height: 100px;
    font-size: 1rem;
  }
}
