.om_overskrift {
  font-size: 25px;
  margin-top: 10px;
}

.grid_col01 {
  display: grid;
  gap: 10px;
  margin: 10px 10px 0px 10px;
  padding: 20px;
}

.grid_col01 p {
  margin-bottom: 20px;
}

.information {
  line-height: 25px;
  margin: 10px 10px 0px 10px;
}

.behandling img {
  width: 40%;
  margin-top: 20px;
}

.behandling {
  padding: 20px;
  line-height: 25px;
  font-size: 14px;
  /* text-align: center; */
  margin-left: 12px;
  margin-right: 12px;
}

.tree_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
